
footer{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    color: rgb(0, 0, 0);
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: #85afec ;
    padding: 2%;
    font-size: 0.9rem;
}
.logo{

    margin-top: 2rem;
    width: 10rem;
    height: 5rem;
    background-color: white;
    border-radius: 1rem;
    padding-left: .9rem;

    padding-right: .9rem;
}
ul{
    list-style: none;
}
.social-media-icons{
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
}
.contact-icons{
    width: 2.5rem;
    height: 2.5rem;
    
}
.location-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
   
}

.location-map{
    width: 8rem;
    height: 8rem;
}
.location-address{

    border-radius: 1rem;
    
    text-align: center;
    text-justify: inter-word;
    padding: 1rem;
}
.contact-column{
    padding: 2rem;
    display: flex;
    flex-direction: column;
   

}
.copyright{
    grid-column: 2 / 4;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 1010px){
    footer{
        display: grid;
        grid-template-columns: repeat(2, auto);
       
    }
    .copyright{
        grid-column: 1 / 2;
        margin: auto;
        text-align: center;
    }
    .logo{
        width: 10rem;
        height: 5rem;
    }
    .location-map{
        width: 8rem;
        height: 8rem;
    }

}


@media screen and (max-width: 790px){
    footer{
        display: grid;
        grid-template-columns: repeat(1, auto);
        font-size: 0.7rem;
        padding: 1rem;
       
    }
    .location-map{
        width: 5rem;
        height: 5rem;
    }
    .location-column{
        width: 100%;
        display: flex;
        flex-direction: row;
        
    }
    
    .location-address{
       
        text-align: justify;
        text-justify: inter-word;
    }
    .social-media-icons{
        width: 1.5rem;
        height: 1.5rem;
        margin: 1rem;
    }
    .contact-icons{
        width: 1.5rem;
        height: 1.5rem;
        
    }
  
}