.product-menu-container{
    margin: auto;
    width: 60%;
    padding: 2rem;
    background-color: rgb(135, 155, 222);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.product-image-outer-cirlce{
    border: .4rem solid black;
    padding: .2rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.product-image-container{
   
    margin: auto;
    overflow: hidden;
    padding-top: .6rem;
    width: 6rem;
    height: 6rem;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    border: .2rem solid black;
}
.product-image{
    width: 4rem;
    margin: auto;
}