.product-menu-container{
    margin: auto;
    width: 60%;
    padding: 2rem;
    background-color: #4482DF;
    border-radius: 3rem 3rem 0rem 0rem ;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: rgb(253, 253, 253);
    
}
.product-menu-item-container{
    display: flex;
    flex-direction: column;
}
.product-image-outer-cirlce{
    border: .6rem solid  #4482DF;;
    padding: .2rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.product-image-outer-cirlce-selected{
    border: .6rem solid rgb(172, 235, 167);
    padding: .2rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.product-image-container{
   
    margin: auto;
    overflow: hidden;
    padding-top: .6rem;
    width: 6rem;
    height: 6rem;
    background-color: rgb(174, 248, 169);
    border-radius: 50%;
    text-align: center;
    border: .2rem solid black;
}
.product-image{
    width: 4rem;
    margin: auto;
}