@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

 *{
    font-family: 'PT Sans', sans-serif;
 }   
.contact-image{
    background-image:  url("../../assets/SVGs/contact_us.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 80%;
}
.contact-text{
    position: absolute;
    left: 0;
    padding: 2rem;
    text-align: justify;
    text-justify: inter-word;
}
.contact{
    padding-top: 5%;
    display: flex;
    
    width: 100%;
}
.contact-form{
    color: white;
    background-color: rgb(81, 136, 219);
    padding: 5rem;
    border-radius: 0.12rem 3rem 2rem 0.1rem;
    width: 30%;
}
input{
    padding: .7rem;
    border-radius: 1rem;
}
.comment{
    resize: vertical;
    border-radius: 0.75rem;
}