.product-overview-list-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding-top: 1%;
    
    
   
}
.product-overview-header{
    margin-top: 4rem;
}
@media screen and (max-width: 1250px){
    .product-overview-list-container{
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width: 800px){
    .product-overview-list-container{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 500px){
    .product-overview-list-container{
        grid-template-columns: repeat(1, auto);
    }
}