.product-list-container{
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding-top: 1%;
   
}

@media screen and (max-width: 1250px){
    .product-list-container{
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width: 800px){
    .product-list-container{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 500px){
    .product-list-container{
        grid-template-columns: repeat(1, auto);
    }
}