.product-container{
    padding-top: 8%;
}

@media screen and (max-width: 550px){
    .product-container{
        padding-top: 16%;
    }
}
@media screen and (max-width: 190px){
    .product-container{
        padding-top: 19%;
    }
}